<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <script type="text/javascript" src="<%=htmlWebpackPlugin.files.chunks.main.entry%>"></script>
    <script type="text/javascript" src="<%=htmlWebpackPlugin.files.chunks.a.entry%>"></script>
  </head>
  <body>
    <%=htmlWebpackPlugin.options.date%>
    <!-- 遍历输出 -->
    <% for (var key in htmlWebpackPlugin.files){%>
    <%= key %>:<%= JSON.stringify(htmlWebpackPlugin.files[key])%>
    <% }%>

    <!-- 对webpack 的options的输出 -->
    <% for (var key in htmlWebpackPlugin.options){%>
    <%= key %>:<%= JSON.stringify(htmlWebpackPlugin.options[key])%>
    <% }%>
  </body>
</html>
