<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <script type="text/javascript">
      <% compilation.assets[htmlWebpackPlugin.files.chunks.main.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source()%>
    </script>
  </head>
  <body>
    <% for(var k in htmlWebpackPlugin.files.chunks){%>
      <% if(k!='main') {%>
        <script src="<%= htmlWebpackPlugin.files.chunks[k].entry%>"></script>
      <% } %>
    <% } %>
  </body>
</html>
